body {
padding: 0;
margin: 0;
}

main {
    max-width: 1280px;
    margin: auto;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 3.43rem;
}

.optionslearning {
    font-family: 'Roboto', sans-serif;
    display: flex;
   }

.nameoption {
    font-weight: 700;
    font-size: 25px;
    color: #1E4681;
}

.descriptionoption {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 179px;
}


.boxoptions-one {
    margin-right: 122px;
}

.boxoptions-one .descriptionoption {
    width: 223px;
}

.boxoptions-two {
    margin-right: 113px;
}

.boxoptions-two .descriptionoption {
    width: 271px;
}


.list {
    /*padding-inline-start: 0px;*/
    margin-bottom: 248px;
}
.list li {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    width: 662px;
}

.program {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%px;
    margin-top: 95px;
}

.program :nth-child(1) {
    margin-right: 2.89%;
}
.program :nth-child(2) {
    margin-right: 2.89%;
}
.program :nth-child(4) {
    margin-right: 2.89%;
}
.program :nth-child(5) {
    margin-right: 2.89%;
}
.program :nth-child(7) {
    margin-right: 2.89%;
}

.boxprogram img {
    width: 100%;
    height: 160px;
}

.boxprogram {
    width: 31.171%;
    height: 25,625px;
    margin-bottom: 41px;
    border: 0px;
    border-radius: 30px;
    filter: drop-shadow(1px 1px 15px rgba(0, 0, 0, 0.25));
    background-color: white;
    box-sizing: border-box;

 }

.nameprogram {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin: 11px 14px 32px 20px;
}

.descriptionprogram {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 25px;
    margin: 32px 15px 23px 19px;
}
.program>:last-child>.nameprogram {
    margin: 16px 14px 1px 20px;
}
.program>:last-child>.descriptionprogram {
    margin: 1px 15px 23px 19px;
}