body {
    font-family: "Roboto";
    font-size: 20px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1270px;
    margin: auto;
    display: flex;
}

/** Текстовая колонка **/

.textColumn {
    width: 60.708%;
}

/** Топ меню **/

header div {
    max-width: 1270px;
    margin: auto;
}

#logo {
    max-width: 112px;
    width: 100%;
    height: auto;
    margin: 21px 0px 0px 36px;
}
.shortinfo {
    display: flex;
    margin: 71px 0px 0px 36px;
    align-items: center;
}
.shortinfo img {
    width: 22px;
    height: 21px;
    padding: 0px 8px 7px 0px;
}
.shortinfo p {
    padding: 0px 25px 0px 0px;
    margin: 0px;
}

/** Главный текст **/

h1 {
    font-family: Roboto Slab;
    font-size: 80px;
    font-weight: 700;
    line-height: 101.38%;
    margin: 23px 0px 0px 36px;
}
#textUnderH1 {
    margin: 24px 0px 0px 36px;
    width: 54%;
}

/** Cиняя рамка **/

.blueText {
    font-family: Roboto Slab;
    font-size: 25px;
    line-height: 130%;
    background: #1E4681;
    border-radius: 5px;
    color: white;
    width: 61.0%;
    margin: 177px 0px 0px 332px;
}
.blueText p {
    padding: 19.26px 27.02px 0px 26.03px;
}
#author {
    font-family: Roboto;
    font-size: 20px;
    padding:0px 0px 20px 0px;
    margin: -20px 0px 183px 270px;
}

/** Текст H2 **/

h2 {
    font-family: Roboto Slab;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
    margin: 0px 0px 0px 36px;
}
#paragraph1 {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    width: 86%;
    margin: 50px 0px 0px 36px;
}
#paragraph2 {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    width: 86%;
    margin: 30px 0px 0px 36px;
}

/** Боковые картинки **/

.imgColumn {
    width: 39.3%;
}
.imageColumn img {
    max-width: 100%;
    height: auto;
}
#filmdirector1 {
    margin: 190px 0px 0px 40px;
}
#filmdirector2 {
    margin: 570px 0px 0px 70px;
}

/** Нижняя плашка **/
.justify-elements-betwin {
    justify-content: space-between;
}
.bottomColumn {
    padding: 94px 0px 0px 80px;
    margin-bottom: 153px;
}
.bottomColumn div {
    width: 13%;
    padding: 70px 0px 0px 90px;
}
.item1 p:first-child {
    margin: 0px;
    font-size: 25px;
    font-weight: bold;
}
.item2 p:first-child {
    margin: 0px;
    font-size: 25px;
    font-weight: bold;
}
.item3 p:first-child {
    margin: 0px;
    font-size: 25px;
    font-weight: bold;
}
.item1 p:last-child {
    margin-top: 10px;
    font-size: 18px;
    line-height: 130%;
}
.item2 p:last-child {
    margin-top: 10px;
    font-size: 18px;
    line-height: 130%;
}
.item3 p:last-child {
    margin-top: 10px;
    font-size: 18px;
    line-height: 130%;
}

/** !!!!!!!!!!!!!Версия Никиты!!!!!!!!**/

.container2 {
    max-width: 1270px;
    margin: auto;
}

/** Формат занятий */

.optionslearning {
    font-family: 'Roboto', sans-serif;
    display: flex;
    margin: 81px 0px 0px 39px;
   }

.nameoption {
    font-weight: 700;
    font-size: 25px;
    color: #1E4681;
    margin-bottom: 0px;
}
.descriptionoption {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 187px;
}

.boxoptions-one {
    margin-right: -105px;
}
.boxoptions-one .descriptionoption {
    width: 45%;
}
.boxoptions-two {
    margin-right: -105px;
}
.boxoptions-three {
    margin-left: -100px;
}
.boxoptions-two .descriptionoption {
    width: 45%;
}
.boxoptions-three .descriptionoption {
    width: 79%;
    
}

/** Что узнаем */

.list {
    margin: 65px 0px 248px 36px;
}
.list li {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    width: 662px;
    line-height: 150%;

}

/** Программа Курса */

.program {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    margin-top: 136px;
    margin-bottom: 121px;
}
.program :nth-child(1) {
    margin-right: 2.89%;
}
.program :nth-child(2) {
    margin-right: 2.89%;
}
.program :nth-child(4) {
    margin-right: 2.89%;
}
.program :nth-child(5) {
    margin-right: 2.89%;
}
.program :nth-child(7) {
    margin-right: 2.89%;
}
.boxprogram img {
    width: 100%;
    height: 160px;
}
.boxprogram {
    width: 31.171%;
    margin-bottom: 41px;
    border: 0px;
    border-radius: 30px;
    filter: drop-shadow(1px 1px 15px rgba(0, 0, 0, 0.25));
    background-color: white;
    box-sizing: border-box;
}
.nameprogram {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin: 11px 14px 32px 20px;
}
.descriptionprogram {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 25px;
    margin: 32px 15px 23px 19px;
}
.program>:last-child>.nameprogram {
    margin: 16px 14px 1px 20px;
}
.program>:last-child>.descriptionprogram {
    margin: 1px 15px 23px 19px;
}
/*Серая секция*/
.greysection {
    background: #EFEFEF;
    height: 780px;
    padding-top: 91px;

}

.contentReview {
    margin: auto;
    max-width: 1270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contentReview h2 {
    margin-left: 0px;
}

.feedback {
    width: 62.5%;
    height: 451px;
    padding: 40px 46px 0px 26px;
    border: 0px;
    border-radius: 30px;
    filter: drop-shadow(1px 1px 20px rgba(0, 0, 0, 0.25));
    background-color: #FFFFFF;
    box-sizing: border-box;
    margin-top: 34px;
}

.person {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.feedback>p {
    font-size: 20px;
    margin: 6px 46px 10px 30px;
    width: 700px;
    line-height: 150%;

}
.name>p {
    font-size: 30px;
    font-family: Roboto Slab;
}
.contentReview>h2 {
    padding-bottom: 35px;
}

.name {
    margin-left: 30px;
    margin-top:0px;
}

/*Зеленая секция*/
.greensection {
    background: #9DC9C8;
    height: 680px;
    padding-top: 179px;

}

.contentgreen {
    margin: auto;
    max-width: 1270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contentgreen h2 {
    margin-left: 0;
}


#price {
    font-size: 25px;
    margin-top: 54px;
    margin-bottom: 0;
}
#number {
    font-size: 80px;
    margin-top: 0;
    margin-bottom: 25px;
}
#description {
    display: flex;
    max-width: 686px;
    justify-content: space-between;
}
#description div {
    width: 294px;
    font-size: 18px;
}

#description div :first-child {
    font-size: 25px;
    margin-bottom:9px;
}

#description div :last-child {
    line-height: 101.38%;
    margin-top:0px;

}

/*подвал с черным фоном*/


.blackbottom {
    background: black;
    height: 390px;
    padding-top: 50px;
    color: #FFFFFF;
    padding-bottom: 23px;
}

.contenblack {
    margin: auto;
    max-width: 1270px;
    display: flex;
    justify-content: space-between;
}

.leftcolbot {
    height: 390px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.leftcolbot a {
    margin-right: 18px;
}
.leftcolbot img {
    margin-bottom: 30px;
}

.rightcolbot {
    width: 30%;
}
.rightcolbot div {
    display: flex;
    align-items: center;
}
#convert1 {
    width: 27px;
    height: 18px;
    margin-right: 22px;
}
#phone1 {
    width: 27px;
    height: 27px;
    margin-right: 22px;
}
